@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
@font-face {
  font-family: 'Kathen';
  font-style: normal;
  font-weight: 400;
  src: local('Kathen'), 
  url('./assets/fonts/kathen.ttf') format('embedded-opentype');
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

Button {
  outline: none;
}

Button:active {
  border: 2px solid #afafaf;
}

::-webkit-scrollbar {
  display: none;
}
