@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

Button {
  outline: none;
}

Button:active {
  border: 2px solid #afafaf;
}

::-webkit-scrollbar {
  display: none;
}
